@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Inter", sans-serif;
}


.map-marker {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #0090FF;
  transform: translate(-50%, -50%);
  border: 3px solid rgba(255, 255, 255, 0.95);
}